/* Variables */

// Text Variables / fw = font-weight, fs = font-size
$fw-extra-light: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-bold: 500;

$fs-xxs: 1.4rem;
$fs-xs: 1.6rem;
$fs-sm: 2rem;
$fs-md: 2.4rem;
$fs-lg: 3.2rem;
$fs-xl: 4rem;
$fs-xxl: 5rem;
$fs-xxxl: 6rem;

$color1-bg: rgb(0, 0, 0);
$color2-bg: rgb(18, 24, 31);
$color2-fg: rgb(255, 196, 147);
$color1-fg: #fdfdfd;

$effect-color: rgb(255, 112, 32);
